* {padding: 0; margin: 0; box-sizing: border-box; font-family: 'Poppins',sans-serif;}
body, html { width: 100%;}
.header_admin{ position: fixed; z-index: 1; height: 60px; width: 100%; background-color: forestgreen;}

#logo { position: absolute; width: 55px; top: 50%; left: 30%; -ms-transform: translate(-50%, -50%); transform: translate(-50%, -50%);}
#title { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: white; font-size: 20px; font-weight: 600;}
#logout { position: absolute; top: 10px; right: 10px;}
#logout button { border-radius: 10px; border: transparent; padding: 10px; font-size: 15px; font-weight: 400; font-family: 'Poppins',sans-serif; cursor: pointer; background: linear-gradient(to bottom right, #47ef47, #5aff9f);}
#logout button:hover { color: aliceblue; background-color: rgb(21, 80, 40);}

.content_admin{
    position: absolute;
    /* width: 100%; */
    /* z-index: 2; */
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.content_admin button{
    padding: 7px 10px;
    border: transparent;
    border-radius: 5px;
    background-color: #47ef47;
    font-size: 15px;
    font-family: poppins;
}

.content_admin input{
    padding: 5px;
    border: 2px solid green;
    font-family: poppins;
}

.content_datatable{
    /* border-collapse: collapse; */
    position: absolute;
    top: 20%;
    left: 12%; 
    /* -ms-transform: translate(-50%, -50%); */
    /* transform: translate(-50%, -50%); */
}

.content_datatable #thInduk, #thJenis, #thKelas, #thNoLemari, #thInfo{
    padding: 5px 10px;
}

.content_datatable #thPengarang, #thJudul{
    padding: 5px 100px;
}

    /* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-addBook {
background-color: #fefefe;
margin: 7.5% auto; /* 15% from the top and centered */
padding: 20px;
border: 1px solid #888;
width: 40%; /* Could be more or less, depending on screen size */
height: 70%;
border-radius: 10px;
}   

.modal-addBook p#head_addBook{
    text-align: center; 
    font-size: 30px; 
    font-weight: bold; 
    position: relative; 
    left: 3%;
}

.modal-addBook form{
    margin: 20px;
    padding: 10px;
    min-width: 100px;
    display: inline-block;
    border: 1px solid grey;
    border-radius: 5px;
    position: absolute;
    top: 50%;
    left: 49%;
    transform: translate(-50%, -50%);
    background-color: #47ef47;
}

.modal-addBook form input{
    float: right;
    max-width: 200px;
    margin-left: 20px;
    padding: 5px 0;
}

.modal-addBook form select{
    float: right;
    width: 201px;
    padding: 5px 0;
}

.modal-addBook form label{
    display:block;
    padding: 10px 0 20px 0;
    font-family: poppins;
}

.modal-addBook form button{
    font-family: poppins;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    text-align: center;
}

.center { display: flex; justify-content: center; align-items: center;}

/* The Close Button */
.closeAddBook {color: #aaa; float: right; font-size: 28px; font-weight: bold; position: relative; z-index: 3;}
.closeAddBook:hover,.closeAddBook:focus {color: black;text-decoration: none;cursor: pointer;}

.content_datatable table {border: 2px solid grey; border-collapse: collapse;}
.content_datatable thead {background: linear-gradient(to bottom right, #47ef47, #5aff9f); text-transform: uppercase;}
.content_datatable th {border: 1px solid grey;}

#tablearea tr:nth-child(even) {background-color: #f2f2f2;}
#tablearea th {border-right: 1px solid grey; border-left: 1px solid grey;}
#tablearea tr td {padding: 5px; text-align: center; border-right: 1px solid grey; border-left: 1px solid grey;}
#tablearea tr td p {font-size: 15px;}

.modal-checkBook {
    background-color: #fefefe;
    margin: 7.5% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    height: 70%;
    border-radius: 10px;
} 

.modal-checkBook table{
    /* border: 1px solid black; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-checkBook form#checkform table{
    width: 700px;
    border-collapse: collapse;
}


.modal-checkBook form#checkform table th{
    width: 250px;
    height: 300px;
}

.modal-checkBook form#checkform table td{
    height: 50px;
    padding: 10px;
}

.modal-checkBook form#checkform table td span:before{
    content: ": ";
}

.modal-checkBook tr:nth-child(odd){
    background-color:#e6e2e2;
}

.closeCheckBook {color: #aaa; float: right; font-size: 28px; font-weight: bold; position: relative; z-index: 3;}
.closeCheckBook:hover,.closeCheckBook:focus {color: black;text-decoration: none;cursor: pointer;}

@media(max-width:720px){
    .header_admin{
        height: 40px;
        width: 100vw;
    }
    
    #logout{
        top: 8px;
        right: 8px;
    }

    #logout button{
        padding: 5px;
        border-radius: 5px;
        font-size: 9px;
    }

    #logo{
        width: 30px;
        left: 10%;
    }

    #title{
        position: relative;
        font-size: 10px;
        display: flex;
        justify-content: center;
    }

    .content_admin{
        position: fixed;
        top: 70px;
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    .content_admin #searchInput{
        width: 50%;
        margin: 0 5px;
        font-size: 10px;
    }

    .content_admin button{
        padding: 2% 1%;
        font-size: 10px;
    }

    .content_datatable{
        top: 220px;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .content_datatable #thInduk, #thJenis, #thKelas, #thNoLemari, #thInfo{
        padding: 1px 10px;
        font-size: 10px;
    }
    
    .content_datatable #thPengarang, #thJudul{
        padding: 1px 35px;
        font-size: 10px;
    }

    .content_datatable #thNoLemari, #thJenis, #thKelas{
        display: none;
    }

    .content_datatable td:nth-child(2), td:nth-child(5), td:nth-child(6){
        display: none;
    }

    #tablearea tr td p{
        font-size: 10px;
    }

    #tablearea tr td button{
        font-size: 10px;
        padding: 2px;
    }

    .modal-addBook{
        width: 90%;
        height: 90%;
    }

    .modal-addBook p#head_addBook{
        text-align: center; 
        font-size: 15px; 
        font-weight: bold; 
        position: relative; 
        left: 3%;
    }

    .modal-addBook form{
        width: 70%;
        height: 70%;
        margin: 10px 0 0;
    }

    .modal-addBook form label{
        font-size: 10px;
    }

    .modal-addBook form input{
        float: right;
        max-width: 130px;
        margin-left: 10px;
        padding: 1px 0;
        font-size: 10px;
    }

    .modal-addBook form select{
        float: right;
        width: 131px;
        padding: 1px 0;
        font-size: 10px;
    }

    .modal-addBook form button{
        padding: 5px 10px;
        border: none;
        border-radius: 5px;
        text-align: center;
        margin-top: 20px;
    }

    .closeAddBook{
        font-size: 20px;
    }

    .modal-checkbook {
        width: 90vw;
        height: 90vh;
    } 

    .modal-checkbook p#head_checkBook{
        text-align: center; 
        font-size: 15px; 
        font-weight: bold; 
        position: relative; 
        /* left: 1%; */
    }

    .modal-checkBook form#checkform table{
        width: 77vw;
        border-collapse: collapse;
        transform: none;
        top: 100px;
        left: auto;
    }

    .modal-checkBook form#checkform table tr{
        padding: 1px;
        width: 10px;   
    }

    .modal-checkBook form#checkform table td{
        padding: 15px 5px;
        width: 10px;   
        height: fit-content;

    }

        .modal-checkBook form#checkform table tr th{
            padding: 1px;
            width: 10px;
            height: 10px;
        }
       
    .modal-checkBook form#checkform table tr label, span, th{
        font-size: 8px;
    }

    /* .modal-checkBook form#checkform table th{
        width: 250px;
        height: 300px;
    } */

    .modal-checkBook #labelJudul, #labelPengarang, #labelJenis, #labelKelas, #labelNoInduk{
        /* background-color: red; */
        max-width: 20px;
        max-height: 10px;
        
    }

    .modal-checkBook form#checkform table th #cekGambar{
        width: 20px;
    }
}